
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Silver Website</title>

    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'header.css' %}">
</head>

<body>

    <!-- Header -->
    <header class="header">

        <!-- Logo -->
        <div class="logo">
            <span>SILVER</span>
            <small>JEWELS</small>
        </div>

        <!-- Navigation -->
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Products</a>
            <a href="#">Collections</a>
            <a href="#">Contact</a>
        </nav>

        <!-- Header Button -->
        <div class="header-button">
            <a href="#">Shop Now</a>
        </div>

    </header>

    <main>
        <section>
            <h1 class="text-1" >wellcome to this website</h1>
        </section>
    </main>

</body>
</html>
